#mainWrap{
        background-color:white;
        display: flex;
        position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
        width: 550px;
        height:275px;
        border-radius: 7px;
}

#flexWrap{
        display: flex;
}

.socialNetworksWrap{
    height: 40px;
    width: 40px;
    border-radius: 3px;
    border: 1px black dotted;
    color: black;
    margin-top: 150px;
    margin-right:20px;
}

#credits{
        margin-left: 870px;
        margin-top : 660px;
        color:white
}

body {
        transition: 700ms  ease;
  }

button {
        opacity: 0.9;
}