#qoute-box{
    background-color:red; /* Test,kasnije mora biti bijelo */
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
    width: 550px;
    height:275px;
    border-radius: 5px; 
}
#text{
    height:100px;
    width:480px;
    font-size:35px;
    margin: 10px;
    padding-left: 30px;
    
}
#author{
    height: 25px;
    width:480px;
    font-size:25px;
    position: absolute;
    margin-bottom: 10px;
    padding-left:300px
}
button{
    height:50px;
    width: 50px;
    margin-top: 60px;
    border-radius: 5px ; 
}
#tweet-quote{
font-size: 22px;
}
#newQuote{
margin-left:350px;
height: 40px;
width: 100px;
}
#credits{
    margin-left: 870px;
    margin-top : 660px;
    color:blue /* privremeno */ 
}