#qoute-box{
    background-color:red; /* Test,kasnije mora biti bijelo */
    position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
    width: 550px;
    height:275px;
    border-radius: 5px; 
    padding: 10px;
}
#text{
    height:100px;
    width:480px;
    font-size:35px;
    font-style: italic;
    margin: 10px;
    padding-left: 30px;
    
}
#author{
    height: 25px;
    width: 480px;
    font-size:25px;
    padding-left:300px
}
button{
    height:45px;
    width: 45px;
    margin-top: 70px;
    border-radius: 4px;
    margin-left: 50px; 
}
#tweet-quote{
height: 45px;
font-size: 20px;
}
#newQuote{
margin-left:300px;
height: 45px;
width: 100px;
}
#credits{
    margin-left: 870px;
    margin-top : 660px;
    color:blue /* privremeno */ 
}